app = "parentshield-api"
primary_region = "iad"

[build]

[env]
  PORT = "8080"
  ALGORITHM = "HS256"
  ACCESS_TOKEN_EXPIRE_MINUTES = "15"
  REFRESH_TOKEN_EXPIRE_DAYS = "7"
  ADMIN_EMAIL = "admin@parentshield.app"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
